################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/college-API/.vs
/college-API/obj
