@import "tailwindcss";

/* Navbar */
.headerUtilitybar {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 55px;
  padding: 0 35px;
  background-color: #fff;
  /* background-color: var(--color-primary); */
}

/* Carousel */
.slide-content {
  width: 100%;
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
}

.carousel-arrow {
  position: absolute !important;
  top: 50%;
  transform: translateY(-50%);
  z-index: 20;
  background: rgba(0, 0, 0, 0.5) !important;
  border-radius: 50% !important;
  color: white !important;
  width: 40px;
  height: 40px;
  display: flex !important;
  align-items: center;
  justify-content: center;
}

.left-arrow {
  left: 20px;
}

.right-arrow {
  right: 20px;
}

/* Content Area */
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.container h2 {
  font-family: "halyard-text", sans-serif;
  font-weight: bold;
}

/* Content tab menu */
.contentTab > div > .p-tabmenu > .p-tabmenu-nav > .p-tabmenuitem {
  padding: 0 35px;
}

.tabMenuContents > h5 {
  font-family: cursive;
}

.acceptancePageHeader > h5,
.announcementsPageHeader > h5 {
  font-family: cursive;
  font-size: 28px;
  color: #6ca643;
}

.p-tabmenu .p-tabmenu-nav .p-tabmenuitem.p-highlight .p-menuitem-link {
  color: #6ca643;
  border-color: #6ca643;
}

.tabContents {
  max-width: 770px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
  color: gray;
}

.experienceAreaContent > p {
  font-family: Arial, Helvetica, sans-serif;
}

.eventCards {
  max-height: 590px;
}

/* Hide the default PrimeReact SVG icons */
.custom-prev-icon,
.custom-next-icon {
  display: none !important;
}

/* Add your own images inside the buttons */
.carousel-arrow::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.left-arrow::after {
  background-image: url("/images/carouselprev.png");
}

.right-arrow::after {
  background-image: url("/images/carouselnext.png");
}

.footerWrap {
  background-color: #34353a;
}

.footerContent {
  font-size: 14px;
  color: white;
  font-family: sans-serif;
}

.footerInner3,
.footerInner2,
.footerInner4 {
  padding: 50px 0 30px 0;
}

.footerList > li {
  font-weight: 600;
  margin-bottom: 11px;
}

.footerList > li:hover {
  color: #6ca643;
  cursor: pointer;
}

.footerSns {
  background-image: url("/images/footer-socials-holder.svg");
  height: 112px;
  padding: 34px 0 0 0;
  background-size: contain;
  text-align: center;
}

.socialsLinks.socialmedium a {
    font-size: 20px;
}
.socialsLinks a[href=''] {
    display: none;
}
.socialsLinks a[href=''] {
    display: none;
}

.socialsLinks a {
    margin: 0 5px;
    color: white;
}
