@import "tailwindcss";

/* Navbar */
.headerUtilitybar {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 55px;
  padding: 0 35px;
  background-color: #fff;
  /* background-color: var(--color-primary); */
}

/* Carousel */
.slide-content {
  width: 100%;
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
}

.carousel-arrow {
  position: absolute !important;
  top: 50%;
  transform: translateY(-50%);
  z-index: 20;
  background: rgba(0, 0, 0, 0.5) !important;
  border-radius: 50% !important;
  color: white !important;
  width: 40px;
  height: 40px;
  display: flex !important;
  align-items: center;
  justify-content: center;
}

.left-arrow {
  left: 20px;
}

.right-arrow {
  right: 20px;
}

/* Content Area */
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.container h2 {
  font-family: "halyard-text", sans-serif;
  font-weight: bold;
}

/* Content tab menu */
.contentTab > div > .p-tabmenu > .p-tabmenu-nav > .p-tabmenuitem {
  padding: 0 35px;
}

.tabMenuContents > h5 {
  font-family: cursive;
}

.acceptancePageHeader > h5, .announcementsPageHeader> h5 {
  font-family: cursive;
  font-size:  22px;
  color: #59ac77;
}

.p-tabmenu .p-tabmenu-nav .p-tabmenuitem.p-highlight .p-menuitem-link {
  color: #59ac77;
  border-color: #59ac77;
}

.tabContents {
  max-width: 770px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
  color: gray;
}

.experienceAreaContent> p {
  font-family: Arial, Helvetica, sans-serif;
}


.eventCards{
  max-height: 590px;
}