@import "tailwindcss";

body{
  box-sizing: border-box;
  color: #757782;
  font-size: 18px;
}

h1, h2, h3, h4, h5, h6 {
    color: #34353A;
}

.spacer{
  height: 60px;
}

.para{
  font-size: 18px;
  color: #757782;
  line-height: 1.5;
  margin-top: 0;
  margin-bottom: 30px;
  font-family: "Open Sans", sans-serif;
}


/* Navbar */
.headerUtilitybar {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 55px;
  padding: 0 35px;
  background-color: #fff;
  /* background-color: var(--color-primary); */
}

.nav-item {
  position: relative;
  padding-bottom: 5px; /* so border has space */
}

/* Hover image (placed ABOVE the menu item) */
.nav-item::before {
  content: "";
  position: absolute;
  top: 0; /* adjust how high the image sits */
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  height: 100px;

  background-repeat: no-repeat;
  background-size: contain;
  opacity: 0;
  transition: opacity 0.2s ease;

  /* dynamic image from inline style */
  background-image: var(--hover-bg);
  pointer-events: none; 
}

.nav-item:hover::before {
  opacity: 1;
}

/* Hover underline */
.nav-item::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0; /* underline exactly below the item */
  width: 100%;
  height: 3px;
  background-color: #6ca643;
  transform: scaleX(0);
  transition: transform 0.2s ease;
  z-index: 99;
}

.nav-item:hover::after {
  transform: scaleX(1);
}



/* Carousel */
.slide-content {
  width: 100%;
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
}

.carousel-arrow {
  position: absolute !important;
  top: 50%;
  transform: translateY(-50%);
  z-index: 20;
  background: rgba(0, 0, 0, 0.5) !important;
  border-radius: 50% !important;
  color: white !important;
  width: 40px;
  height: 40px;
  display: flex !important;
  align-items: center;
  justify-content: center;
}

.left-arrow {
  left: 20px;
}

.right-arrow {
  right: 20px;
}

/* Content Area */
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.container h2 {
  font-family: "halyard-text", sans-serif;
  font-weight: bold;
}

/* Content tab menu */
.contentTab > div > .p-tabmenu > .p-tabmenu-nav > .p-tabmenuitem {
  padding: 0 35px;
}

.tabMenuContents > h5 {
  font-family: cursive;
  color: #6ca643 !important;
}

.acceptancePageHeader > h5,
.announcementsPageHeader > h5 {
  font-family: cursive;
  font-size: 28px;
  color: #6ca643;
}

.p-tabmenu .p-tabmenu-nav .p-tabmenuitem.p-highlight .p-menuitem-link {
  color: #6ca643 !important;
  border-color: #6ca643 !important;
}

.tabContents {
  max-width: 770px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
  color: gray !important;
}

.experienceAreaContent > p {
  font-family: Arial, Helvetica, sans-serif;
}

.eventCards {
  max-height: 590px;
}

/* Hide the default PrimeReact SVG icons */
.custom-prev-icon,
.custom-next-icon {
  display: none !important;
}

/* Add your own images inside the buttons */
.carousel-arrow::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.left-arrow::after {
  background-image: url("/images/carouselprev.png");
}

.right-arrow::after {
  background-image: url("/images/carouselnext.png");
}

.footerWrap {
  background-color: #34353a;
}

.footerContent {
  font-size: 14px;
  color: white;
  font-family: sans-serif;
}

.footerInner3,
.footerInner2,
.footerInner4 {
  padding: 50px 0 30px 0;
}

.footerList > li {
  font-weight: 600;
  margin-bottom: 11px;
}

.footerList > li:hover {
  color: #6ca643;
  cursor: pointer;
}

.footerSns {
  background-image: url("/images/footer-socials-holder.svg");
  height: 112px;
  padding: 34px 0 0 0;
  background-size: contain;
  text-align: center;
}

.socialsLinks.socialmedium a {
    font-size: 20px;
}
.socialsLinks a[href=''] {
    display: none;
}
.socialsLinks a[href=''] {
    display: none;
}

.socialsLinks a {
    margin: 0 5px;
    color: white;
}
