.admissionCarousal {
  background: url(/images/AdmissionImage.jpg) center center no-repeat;
  height: 500px;
  background-size: cover;
  opacity: 1;
}

.admissionContent {
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0) 41%,
    rgba(0, 0, 0, 0.65) 99%,
    rgba(0, 0, 0, 0.65) 100%
  );
  height: 100%;
}

.admissionHeader {
  color: #fff;
  font-size: 48px;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
  margin: 0 0 20px 0;
  font-weight: 600;
}

.admissionInner {
  padding-top: 30%;
}

.contentLarge{
    margin-top: 0;
    margin-bottom: 30px;
    font-size: 38px;
    line-height: 1.2;
    font-weight: 700;
    font-family: "halyard-text", sans-serif;
    text-transform: none;
}

.content1{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
}

.content1Left{
    background: url("/images/admission1.jpg") center center no-repeat;
    background-size: cover;
}
